.card{
	width: 100%;
	margin: auto;
	padding: 25px;
	background-color: white;
	border-radius: 10px;
}

.display-name {
	font-weight: 600;
	color: rgb(2, 38, 45);
	text-align: center;
}

.ant-tabs-tab-btn{
	color: var(--darkblue) !important;
}

.ant-tabs-ink-bar{
	background-color: var(--darkblue)!important;
}

.info-container{
	text-align: center;
}

.name {
	font-size: 24px;
	font-weight: 700;
	color: var(--darkblue);
}

.image-container{
	text-align: center;
	object-fit: contain;
	width: 98%;
	margin: auto;
	z-index: -1;
}


.pp-container{
	height: 200px;
	width: 200px;
	z-index: 1;
	position: absolute;
}

.upload-button{
	width: 70%;
	margin: 20px auto;
	background-color: var(--darkblue);
	color: white;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}
