.navbar-notification-main-wrapper {
    display: flex;
    justify-content: space-between;
}

.navbar-notification-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.logout-btn {
    cursor: pointer;
}

.navbar-notification-content {
    height: 50%;
    width: 30%;
}

.navbar-belloutlined-icon {
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
}

.navbar-menu-icon {
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    margin-left: 25px;
}
