.project-data-form-card {
    max-width: 800;
    margin: auto
}

.project-data-form-submit-button {
    text-align: center;
}

.add-project-submit-btn {
    background-color: var(--darkgreen);
    color: white;
}

.add-project-submit-btn:hover {
    background-color: var(--lightgreen);
    color: white;
}
