@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --lightgreen: #ebfbee;
  --darkgreen: #002414;
}

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
	color: #002414;
}

*{
  -ms-overflow-style:none;
}

::-webkit-scrollbar {
  display: none;
}

#logo{
	height: 70px;
}
